# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual env
venv/
.env/
.venv/
flowquest-venv/

# Django
db.sqlite3
/media/
staticfiles/
*.log

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

notes.md