{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="dashboard-container">

  <section class="profile-card">
    <img src="{{profile.rank.badge_icon.url}}" alt="Rank Badge" class="rank-icon">
    <h2 class="rank-title">{{profile.rank.title}}</h2>
    {% if next_min %}
        <p class="xp">XP: {{profile.total_xp}} / {{next_min}}</p>
    {% else %}
        <p class="xp">XP: {{profile.total_xp}}</p>
    {% endif %}
    <div class="xp-bar">
      <div class="xp-progress" style="width: {{rank_progress}}%;"></div>
    </div>
    <p class="streak">Streak: Coming Soon...</p>
  </section>

  <section class="quests-section">
    <h3>Active Quests</h3>
      {% if active_quests %}
        {% for quest in active_quests %}
        <div class="quest-card" style="border-left: 8px solid {% cycle '#6c63ff' '#4CAF50' '#2196F3' '#ff9800' '#9c27b0' %}; background: {% cycle '#6c63ff15' '#4CAF5015' '#2196F315' '#ff980015' '#9c27b015' %};">
            <div class = "quest-info">
              <h4>{{quest.title}}</h4>
              <p> {{quest.progress}}%</p>
              <div class = "progress-bar">
                <div class = "progress" style = "width: {{quest.progress}}%"></div>
              </div>
            </div>
            <a href="{% url 'view_quest' quest.id %}" class="view-btn">View Tasks</a>
          </div>
        {% endfor %}
      
      {% else %}
          <p>No Active Quests Yet, what are you waiting for, create one now!</p>
      {% endif %}
  </section>

  <!-- Achievements Section -->
  <section class="achievements-section">
    <h3>Achievements</h3>
    <div class="achievements-list">

      <div class="achievement-card locked">
        <div>
          <h4>FIRST STRIKE</h4>
          <p>Coming Soon...</p>
        </div>
      </div>

      <div class="achievement-card locked">
        <div>
          <h4>STREAK SAVANT</h4>
          <p>Coming Soon...</p>
        </div>
      </div>

      <div class="achievement-card locked">
        <div>
          <h4>QUEST MASTER</h4>
          <p>Coming Soon...</p>
        </div>
      </div>

      <div class="achievement-card locked">
        <div>
          <h4>DAILY GRINDER</h4>
          <p>Coming Soon...</p>
        </div>
      </div>
      
      <div class="achievement-card locked">
        <div>
          <h4>THE TASK MASTER</h4>
          <p>Coming Soon...</p>
        </div>
      </div>

    </div>
  </section>

</div>

{% endblock %}
