{% extends "base.html" %}

{% block content %}
    <form method = "post" class = "login-form">
        <h1>
            Welcome Player, Login in with your credintials to continue your path to greatness!.
        </h1>

        {% csrf_token %}

        {{ form.as_p }}

        <button type = "submit" class = "btn-submit">Login</button>
        <p class = "signup-link">
            Not a Player Yet? Join Us Now! <a href= {%url 'signup' %}>SignUp</a>
        </p>
    </form>

{% endblock content %}