{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{%static 'main_app/css/user.css' %}">
    
{% endblock head %}

{% block content %}
    <form method = "post" class = "login-form" autocomplete = "off">
        <img src="{% static 'main_app/assets/images/taskflow-logo-transparent2.png' %}" alt="Logo Icon" class="login-logo">

        <h1>
            Welcome Back, Player...
        </h1>
        <h2>Ready to continue your path to the flow state?</h2>

        {% csrf_token %}

        {{ form.as_p }}

        <button type = "submit" class = "btn-submit">Login</button>
        <p class = "signup-link">
            Not a Player Yet? Join Us Now! <a href= {%url 'signup' %}>SignUp</a>
        </p>
    </form>

{% endblock content %}