{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{%static 'main_app/css/user.css' %}">
{% endblock head %}

{% block content %}
    <div class = "page-header"></div>
    <h1>Join the world of FlowState, Player!</h1>


{% if error_message %}
    <p class = "red-text"> {{error_message}} </p>
{% endif %}
<form method = "post" class= "form-container" autocomplete = "off"> 
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <button type = "submit" class = "btn submit"> Join the quest! </button>
</form>

{% endblock %}