<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock head %}
</head>
<body>
    <div>
        <a href ={% url "home_page" %}>Home</a>
        <a href ={% url "quest_list" %}>Quests</a>
        <a href = {% url "create_task" %}>Create Tasks </a>
        <a href ="">Achievments</a>
        <a href ="">User Profile</a>
    </div>
    {% block content %}
    {% endblock content %}
</body>
</html>