{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskFlow</title>
    <link rel="stylesheet" href="{%static 'main_app/css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    {% block head %}{% endblock head %}
</head>
<body>
    <nav class = "navbar">
        <div class = "nav-container">
            <a href="{% url 'homepage' %}" class="nav-logo">
                <img src="{% static 'main_app/assets/images/taskflow-logo-transparent2.png' %}" alt="Logo Icon" class="logo-icon">
            </a>
            {% if user.is_authenticated %}
                <ul class = "nav-menu">
                    <li class = "nav-item"><a href ={% url "quest_list" %} class = "nav-link">Quests</a></li>
                    <li class = "nav-item"><a href = {% url "create_task" %} class = "nav-link">Create Tasks </a></li>
                    <li class = "nav-item"><a href ="" class = "nav-link">Achievments</a></li>
                    <li class = "nav-item"><a href ="" class = "nav-link">User Profile</a></li>
                    <li class = "nav-item"><a href ={% url "about" %} class = "nav-link"> About </a></li>
                </ul>
                <div class = "nav-user-actions">
                    <form id = "logout-form" method = "post" action="{% url 'logout'%}">
                        {% csrf_token %}
                        <button type = "submit" class = "nav-link-button">Log Out</button>
                    </form>
                </div>
            
            {% else %}
                <ul class="nav-menu-logged-out">
                    <li class="nav-item"><a href="{% url 'homepage' %}" class="nav-link">Login</a></li>
                    <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link primary-action">Sign Up</a></li>
                    <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>